<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.herma.apps.drivertraining">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8011674951494696~6562224830"/>

        <activity
            android:name=".questions.fragments.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".questions.fragments.ExamListActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.herma.apps.drivertraining.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".questions.QuestionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".questions.AnswersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".about.About_us"
            android:screenOrientation="portrait" />
        <activity
            android:name=".others.Sign_Home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".about.Describe"
            android:screenOrientation="portrait" />
        <activity
            android:name=".others.Sign_Display"
            android:screenOrientation="portrait" />
    </application>

</manifest>